.welcome-paragrapth {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10%;
    margin-bottom: 3%;
    align-items: start;
}

.latest-article {
    grid-column: 1/2;
    grid-row: span 2;
}

.smaller-article-image {
    width: 70%;
    height: auto;
}

.article-image {
    width: 80%;
    height: auto;
}

.content-creators {
    margin: 0;
    text-align: center;
    /* margin-top: 100px; */
}

.grid-container img {
    transition: all 0.4s;
    border: 2px solid black;
    border-radius: 2px;
}

.grid-container img:hover {
    transform: scale(1.04);
    transition-duration: .4s;
}

@media (max-width: 900px) {
    .main-content {
        grid-template-columns: auto;
    }
    .latest-article {
        grid-row: auto;
        /* don't force a 2-row span in single-column layout */
    }
    .third-article {
        z-index: 1;
    }
    .content-creators {
        margin-top: 150px;
    }
}

@media (max-width: 650px) {
    .welcome-paragrapth {
        font-size: 18px;
    }
}