.login-form{
    text-align: center;
}



.labels{
    font-size: larger;
}



.remember-me{
    margin-top: 2%;
}

.signup{
    font-size: x-large;
}

p{
    font-size: large;
    text-align: center;
}