body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.nav-bar {
    border-radius: 5px;
    border: 2px solid #F60000;
    background: #222121;
    color: white;
    position: fixed;
    top: 0;
    width: 99.1%;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

li {
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 14px;
}

li a:hover {
    background-color: #111111;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.title {
    margin-top: 5%;
    text-align: center;
}

.welcome-paragrapth {
    font-size: larger;
    text-align: center;
}

.grid-container {
    text-align: center;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10%;
    margin-bottom: 3%;
    align-items: start;
}

.latest-article {
    grid-row: span 2;
    width: 80%;
    height: 80%;
}

.smaller-article-image {
    width: 35%;
    height: 35%;
}

.content-creatorbtn {
    text-align: center;
    border: 2px solid #EE0A0E;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 120%;
    transition-duration: 0.4s;
}

.content-creatorbtn:hover {
    background-color: #EE0A0E;
    color: white;
}

.content-creators {
    text-align: center;
}

.box {
    border: 2px solid #EE0A0E;
    font-size: large;
    padding: 0.5%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.loginbtn {
    text-align: center;
    border: 2px solid #EE0A0E;
    padding: 10px 60px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 120%;
    transition-duration: 0.4s;
}

.loginbtn:hover {
    background-color: #EE0A0E;
    color: white;
}

.labels {
    font-size: larger;
}

.postCard{
    margin-top: 5%;
}

#pictureup{
   display: none;
}

button[type=submit]{
    text-align: center;
    border: 2px solid #EE0A0E;
    padding: 10px 60px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 120%;
    transition-duration: 0.4s;
}
button[type=submit]:hover{
    background-color: #EE0A0E;
    color: white;
}

.custom-file-upload{
    text-align: center;
    border: 2px solid #EE0A0E;
    padding: 10px 60px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 120%;
    transition-duration: 0.4s;
}

.custom-file-upload:hover{
    background-color: #EE0A0E;
    color: white;
}

